:where(button, input, textarea, input, select) {
  display: block;
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
}

:where(address) {
  font-style: normal;
}

:where(html) {
  scroll-behavior: smooth;
}

:where(img) {
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  max-width: 100%;
}

:where(html) {
  hanging-punctuation: first last;
}

/* Reapply the pointer cursor for anchor tags */
:where(a) {
  cursor: revert;
  text-decoration: none;
  color: inherit;
}

/* Remove list styles (bullets/numbers) */
:where(ol, ul, menu) {
  list-style: none;
  display: block;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

:where(
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section
) {
  display: block;
}

:where(
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"]
) {
  cursor: pointer;
}
